<script id="template-download" type="text/html">
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
  <tr class="template-download fade">
    {% if (file.error) { %}
      <td class="preview"><div></div></td>
      <td class="name"><div>{%=file.name%}</div></td>
      <td class="size"><div>{%=o.formatFileSize(file.size)%}</div></td>
      <td class="error" colspan="2"><div><span class="label label-important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</div></td>
    {% } else { %}
      <td class="preview">
        <div>
          {% if (file.thumbnail_url) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}
        </div>
      </td>
      <td class="name">
        <div><a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a></div>
      </td>
      <td class="size"><div>{%=o.formatFileSize(file.size)%}</div></td>
      <td class="spacer"><div></div></td>
      <td class="edit">
        <%= link_to "{%=file.edit_path%}", class: 'btn' do %>
          <i class="icon-pencil icon-white"></i>
        <% end %>
      </td>
    {% } %}
    <td class="delete">
      <div class="btn-group">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_path%}"><i class="icon-trash icon-white"></i></button>
        <div class="btn btn-danger dropdown-toggle">
          <input class="toggle" type="checkbox" name="delete" value="1">
        </div>
      </div>
    </td>
  </tr>
  {% } %}
</script>