@import "bootstrap/mixins";
@import "CartoCMS/mixins";

////////////////////////////////////////////////////////////////////////////////
// Sticky Footer
////////////////////////////////////////////////////////////////////////////////
$stickyFooterHeight: 40px !default;
html, body, body>section {
  height: 100%;
}

#sticky-wrap {
  min-height: 100%;
}

section#top-level {
  overflow:auto; padding-bottom: $stickyFooterHeight;
}

footer#top-level {
  margin-top: $stickyFooterHeight * -1; height: $stickyFooterHeight; clear:both; width: 100%;
}

body:before { // Opera Fix
  content:""; height:100%; float:left; width:0; margin-top:-32767px;
}

.ie8 #sticky-wrap, .lt-ie7 #sticky-wrap { // ie7 Exception
  display:table; height:100%
}