@import 'jquery-file-upload';

.fileupload-buttonbar { margin-bottom: 30px;
  .btn-group.pull-right { padding-right: 20px; }
}

td {
  &.preview { padding-left: 0;
    div { width: 80px; height: 85px; }
  }
  &.name div { @extend .ellipsis; width: 150px; }
  &.size div { width:  68px; text-align: right; }
  &.spacer div { width: 166px; }
  &.error div { @extend .ellipsis; width: 272px; }
  &.delete { padding-right: 0; }
}

.files .progress {
  width: 166px;
}