@import 'jquery-file-upload';

ul#files { list-style: none;
  li { @extend .clearfix; margin-bottom: 20px; padding: 5px 0;
    &:last-of-type { margin-bottom: 0; }

    .preview { height: 60px; width: 60px; }
    .center-panel { width: 100%; min-width: 300px; max-width: 400px; margin-left: 10px; padding-left: 10px; border-left: 1px solid #e5e5e5;
      .top { @extend .clearfix;
        .name { float: left; }
        .size { float: right; }
      }
      .bottom {}
      h3 { line-height: 1; }
      p { margin: 0; }
    }
    .delete { border-left: 1px solid #e5e5e5; padding: 12px 0 13px 15px;
      button { background-color: transparent; padding: 0; border: none; }
      a { float: left; margin-left: 15px;
      &:hover { opacity: 0.8; }
      }
    }
  }
}