////////////////////////////////////////////////////////////////////////////////
// Devise
////////////////////////////////////////////////////////////////////////////////

#logo { margin: 100px 0 25px; }
#devise_links { text-align: right; color: $gray; padding-top: 10px;
  a { color: $gray; font-size: $baseFontSize * .8; }
}
//#account_removal { margin-top: 50px; }
