////////////////////////////////////////////////////////////////////////////////
// _index-table.html
////////////////////////////////////////////////////////////////////////////////

.table { width: 100%; margin: 21px 0 0;
  colgroup {
    col {
      &:first-of-type { width:  1px; }
      &:last-of-type  { width: 69px; }
    }
  }
  th, td {
    &.left, &.string { text-align: left; }
    &.center, &.icon, &.boolean, &.datetime, &.timestamp, &.time, &.date { text-align: center; }
    &.right, &.integer, &.float, &.decimal { text-align: right; }
  }
  th { position: relative; border-top: none; border-bottom: 6px double $brownDark; padding:  0 $rowPadding; font: bold 1.2em/1 'mensch';
    &:after { display: block; content: ''; position: absolute; right: -1px; bottom: 0; height: 8px; border-right: 2px solid $brownDark; }
    &:last-of-type:after { display: none; }
  }
  td {
    &.handle, .action_links { opacity: 0.85; }
  }
  .action_links { width: 43px;
    a { float: left;
      &:last-of-type { margin-left: 15px; }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////
// _index-list.html
////////////////////////////////////////////////////////////////////////////////

ul#positionable { list-style: none;
  li { @extend .clearfix; margin-bottom: 20px; padding: 5px 0;
    &:last-of-type { margin-bottom: 0; }
    &.placeholder { height: 37px; background-color: hsla(0, 0%, 0%, 0.025); border-top: 1px solid hsla(0, 0%, 0%, 0.05); border-bottom: 1px solid hsla(0, 0%, 0%, 0.05); }
    .handle {  border-right: 1px solid #e5e5e5; padding: 12px 10px 13px 0; }
    .resource { padding-left: 10px;
      h3 { line-height: 1; }
      p { margin: 0; }
    }
    .action_links { border-left: 1px solid #e5e5e5; padding: 12px 0 13px;
      a { float: left; margin-left: 15px;
      &:hover { opacity: 0.8; }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////
// _form.html
////////////////////////////////////////////////////////////////////////////////

form {
  #header { height: 62px; color: #5d5b55; font-weight: bold; text-rendering: optimizelegibility;
    &+hr { margin: 12px 0 30px;}
    #name {  height: 26px; margin: 30px 0 0 10px; padding-left: 40px; font-size: 40px;
      &.edit { background: image-url('CartoCMS/icon-pencil-big.png') no-repeat left bottom; }
      &.new  { background: image-url('CartoCMS/icon-plus-big.png') no-repeat left bottom; }
    }
    ul#dates { list-style: none; margin: 0;
      li { font-size: 13px; text-align: right;
        &:first-of-type { color: $gray;  padding-bottom: 10px; }
        span { padding: 0 30px 0 10px; font-size: 24px; }
      }
    }
  }
  fieldset {
    &.publish, &.path {
      .control-group { padding-right: 10px;
        > label {
          &.boolean, &.select { padding-left: 0; text-align: center; }
        }
      }
      select { width: auto; }
      input {
        &.btn { margin-top: 23px; }
      }
    }
  }

  input {
    &.width-auto { width: auto; }
    &.date, &.time { text-align: center; font-size: $buttonFontSize; color: #afafaf; }
  }

  select.select-button {
    -webkit-appearance: button;
       -moz-appearance: button;
         -o-appearance: button;
            appearance: button;
  }

  .boolean_toggler {
    input { @extend .hidden; }
    label {
      display: inline-block;
      position: relative;
      background-color: $inputBGColor;
      border: $inputBorder;
      @include border-radius($inputBorderRadius);
      padding: $inputPadding;
      color: $inputTextColor;
      font: $inputFont;
      text-align: center;
      cursor: pointer;
      // Give IE7 some love
      @include ie7-restore-left-whitespace();
    }
  }

  .control-group.boolean { margin-top: $labelFontSize; padding-left: $labelFontSize * 0.6;
    label { margin-left: $labelFontSize; font-family: 'vollkorn'; color: lighten($textColor, 10%); }
  }
}




////////////////////////////////////////////////////////////////////////////////
// _resource_actions
////////////////////////////////////////////////////////////////////////////////
header#resource-actions { @extend .clearfix; margin: 50px 0 20px;
  h1 { float: left; font-size: 44px; line-height: 44px; font-family: 'mensch'; color: $brownDark; }
  form { float: left; width: 35%; padding: 0px 0 0 10px;
    input { height: auto; width: 100%; background-color: transparent; border: 2px solid $brownDark; @include border-radius(8px); font-size: $baseFontSize; line-height: $baseLineHeight;
    &:focus { background-color: hsla(0, 100%, 100%, 0.5); }
    }
  }
  a#action_link { float: right; background-color: $brownDark; border: none; color: $cream; text-shadow:none; font-family: 'mensch'; padding: 8px 15px 7px 13px; font-size: 20px; @include border-radius(8px);
    span:last-of-type  { margin-left: -6px; }
  }
}// refactor some of the a#new into variables in the twitter-bootstrap