<%- if options.standalone? -%>
-# Assets
- stylesheet "pages/#{@page_name}"
- bodyscript "jquery", "jquery-ui", "jquery_ujs", "pages/#{@page_name}"


<%- end -%>
-content_for :<%= options.standalone? ? :content : :body %> do
  -# Put markup here

= parent_layout '<%= options.standalone? ? "boilerplate" : "application" %>'