= simple_form_for [:cms, resource], html: { class: 'form-horizontal' } do |f|
  - attributes.each do |attr|
    = attr.end_with?('_id') ? f.association(assc(attr, input_html: { class: 'span8'})) : f.input(attr, input_html: { class: 'span8'})
  .form-actions.row
    .span8= f.button :submit, "submit", class: 'btn btn-primary pull-right'