%h1.pull-left= "%04d" % resource.id + " " + resource_class.to_s.titleize
%ul#dates.pull-right
  %li
    created
    %span= resource.created_at.strftime "%m-%d-%y"
  %li
    modified
    %span= resource.updated_at.strftime "%m-%d-%y"