// Update Partial
$("div#content").html("<%= j render 'index', attributes: index_attributes %>");

// Update Action Link
<% action_link = capture do %>
  <%= link_to new_resource_path, id: 'action_link', class: 'btn', data:{ page: params[:action] } do %>
    <span>+</span>
    <span>new</span>
  <% end %>
<% end %>

$("a#action_link:not([data-page='index'])").replaceWith("<%= j action_link %>");

// Clear Form
<% unless params[:query] %>
  $('input#query:text').val('');
<% end %>