-# Title
- title controller.action_name+" "+resource_class.model_name.human

-# Action Link
- content_for(:action_link) do
  = link_to 'back', :back, id: 'action_link', class: 'btn', data:{ page: "#{params[:action]}"}

-# Render Content
#content= render "form", attributes: attributes