/[if lt IE 7 ]
	= javascript_include_tag '//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'  
	:javascript
		window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
